<div class="container-all">
<h2>There are currently <b><%= Contact.all.length %></b></h2>

<ul class="contact-list">
<% Contact.all.each do |contact| %>
  <div class="contact-container">
    <li><b><%= contact.first_name %> <%= contact.last_name %> </b>(<%= contact.email %>)</li>
  <div class="contact-options">
    <a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href="/contacts/<%= contact.id %>/delete">Delete</a>
  </div>
  </div>
  <% end %>

</ul>
</div>
